@font-face {
  src: url('/assets/fonts/Tiresias_Infofont.ttf');
  font-family: 'Tiresias';
}

@font-face {
  src: url("/assets/fonts/AlegreyaSansSC-Light.ttf");
  font-family: 'Alegreya';
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: 'Tiresias';
  font-size: 1.25em;
  flex: 1;
  background: linear-gradient(#fff 40%, #ddd)
}